{% extends 'blog/base.html' %}
{% block title %}درباره من{% endblock %}

{% block main %}
<header class="masthead" style="background-image: url('{% static "blog/assets/img/about-bg.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>درباره من</h1>
                    <span class="subheading">این کاری است که انجام می‌دهم.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>این متن نمونه درباره وبلاگ و نویسنده است...</p>
                <p>می‌توانید توضیحات بیشتری در اینجا قرار دهید.</p>
                <p>این بخش کاملاً قابل سفارشی‌سازی است.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
