{% extends 'blog/base.html' %}
{% load comment_tags %}
{% load ratings %}
{% load humanize %}

{% block title %}{{ object.title }}{% endblock %}

{% block main %}
<header class="masthead" style="background-image: url('{{ object.thumbnail.url if object.thumbnail else '' }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ object.title }}</h1>
                    {% if object.is_special %}<span class="badge badge-danger">ویژه</span>{% endif %}
                    <time>{{ object.published|naturaltime }}</time>
                    <div>{% ratings object %}</div>
                    <div>بازدید ها: {{ object.hits.count }}</div>
                </div>
            </div>
        </div>
    </div>
</header>

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-justify">
                <aside>
                    {% popular_articles %}
                    {% hot_articles %}
                </aside>

                {% if object.is_special %}
                    {% if user.is_authenticated and (user.is_special_user or user == object.author or user.is_superuser) %}
                        {{ object.descriptions|safe }}
                    {% else %}
                        {{ object.descriptions|striptags|truncatewords:30 }}
                        <p class="alert alert-warning">
                            این مقاله ویژه است و برای مشاهده ی آن باید
                            <a href="#">اشتراک ویژه تهیه کنید</a>.
                        </p>
                    {% endif %}
                {% else %}
                    {{ object.descriptions|safe }}
                {% endif %}

                {% render_comments object request %}
                {% include_bootstrap %}
            </div>
        </div>
    </div>
</article>
{% endblock %}
