{% extends 'blog/base.html' %}
{% load ratings %}
{% load humanize %}

{% block main %}
<header class="masthead" style="background-image: url('{% static 'blog/assets/img/home-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>فرشته</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% block header %}{% endblock %}
            <aside>
                {% popular_articles %}
                {% hot_articles %}
            </aside>
            {% for article in object_list %}
                <div class="post-preview">
                    <a href="{% url 'blog:detail_article' article.slug %}">
                        <h2 class="post-title">{{ article.title }}
                            {% if article.is_special %}<span class="badge badge-danger">ویژه</span>{% endif %}
                        </h2>
                        <div>{% ratings article %}</div>
                        <h3 class="post-subtitle">{{ article.descriptions|striptags|truncatewords:30 }}</h3>
                    </a>
                    <p class="post-meta">نوشته شده توسط:
                        <a href="{% url 'blog:author' article.author.username %}">{{ article.author.get_full_name }}</a>
                        {{ article.published|naturaltime }}
                    </p>
                    <div>
                        {% for cat in article.category.active %}
                            <a href="{% url 'blog:category' cat.slug %}">#{{ cat.title }}</a>
                        {% endfor %}
                    </div>
                    <div>بازدید ها: {{ article.hits.count }}</div>
                </div>
                <hr class="my-4"/>
            {% empty %}
                <p>متاسفانه محتوایی برای نمایش وجود ندارد.</p>
            {% endfor %}

            {% if is_paginated %}
                <div class="d-flex justify-content-end mb-4">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary" href="{% block previous_page_url %}{% endblock %}">پست های قدیمی</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary" href="{% block next_page_url %}{% endblock %}">پست های جدید</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
