{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block title %}افزودن/ویرایش مقاله{% endblock %}

{% block main %}
<div class="col-md-8 mx-auto mt-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success">ارسال مقاله</button>
        {% if user.is_superuser and request.resolver_match.kwargs.pk %}
            <a href="{% url 'account:article_delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">حذف</a>
        {% endif %}
    </form>
</div>
{% endblock %}
