{% extends 'account/base.html' %}
{% block title %}لیست مقالات{% endblock %}

{% block main %}
<div class="col-md-12 mt-4">
    {% if object_list %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>عنوان</th>
                    <th>دسته بندی</th>
                    <th>نویسنده</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
            {% for article in object_list %}
                <tr>
                    <td>
                        {% if article.status in 'bd'|make_list or user.is_superuser %}
                            <a href="{% url 'account:article_update' article.pk %}">{{ article.title }}</a>
                        {% else %}
                            {{ article.title }}
                        {% endif %}
                    </td>
                    <td>{{ article.category }}</td>
                    <td>{{ article.author.get_full_name }}</td>
                    <td>{{ article.get_status_display }}</td>
                    <td>
                        {% if user.is_superuser or article.author == user %}
                            <a class="btn btn-sm btn-warning" href="{% url 'account:article_update' article.pk %}">ویرایش</a>
                            <a class="btn btn-sm btn-danger" href="{% url 'account:article_delete' article.pk %}">حذف</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>مقاله‌ای برای نمایش وجود ندارد.</p>
    {% endif %}
</div>
{% endblock %}
