<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'account/login/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/login/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'account/login/css/rtl.css' %}">
</head>
<body>
    <div class="container mt-4">
        {% block main %}{% endblock %}
    </div>
    <script src="{% static 'account/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'account/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
