{% extends 'account/base.html' %}
{% load widget_tweaks %}
{% block title %}تعیین رمز عبور جدید{% endblock %}

{% block main %}
<div class="col-md-6 mx-auto mt-5">
    {% if valid_link %}
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1|add_class:"form-control mb-2" }}
            {{ form.new_password2|add_class:"form-control mb-2" }}
            <button class="btn btn-success w-100">تغییر رمز عبور</button>
        </form>
    {% else %}
        <div class="alert alert-danger">لینک منقضی شده است. دوباره درخواست بازیابی دهید.</div>
        <a href="{% url 'password_reset' %}" class="btn btn-primary mt-2">درخواست دوباره</a>
    {% endif %}
</div>
{% endblock %}
