{% extends 'account/base.html' %}
{% block title %}ایمیل بازیابی ارسال شد{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">ارسال موفق</h3>
        </div>
        <div class="card-body py-4">
            <div class="alert alert-success myfont">
                لینک بازیابی رمز عبور به ایمیل شما ارسال شد. لطفاً ایمیل خود را بررسی کنید.
            </div>
            <a href="{% url 'login' %}" class="btn btn-primary mt-3">بازگشت به صفحه ورود</a>
        </div>
    </div>
</div>
{% endblock %}
