{% extends 'account/base.html' %}
{% load widget_tweaks %}
{% block title %}ثبت نام{% endblock %}

{% block main %}
<div class="col-md-4 mx-auto mt-5">
    <form method="post" class="form-group">
        {% csrf_token %}
        <h3 class="mb-3 text-center">ثبت نام در سایت</h3>
        {{ form.username|add_class:"form-control mb-2" }}
        {{ form.email|add_class:"form-control mb-2" }}
        {{ form.password1|add_class:"form-control mb-2" }}
        {{ form.password2|add_class:"form-control mb-2" }}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        <button class="btn btn-success w-100">ثبت نام</button>
        <div class="mt-2 text-center">
            حساب دارید؟ <a href="{% url 'login' %}">وارد شوید</a>
        </div>
    </form>
</div>
{% endblock %}
